{{ define "page3" }}

{{ template "header" }}

<section class="container">
    <h2 class="text-center">Функціонал в розробці</h2>
    <p>Наразі ми працюємо над розробкою нового функціоналу, який принесе багато переваг для наших клієнтів. Наша команда вділена цьому процесу та прагне зробити магазин комп'ютерних комплектуючих ще зручнішим та функціональнішим.</p>
    <p>Ми очікуємо, що нові функції будуть включати поліпшення у виборі продуктів, розширення способів оплати та доставки, покращення облікових записів клієнтів, зручний пошук товарів та багато іншого.</p>
    <p>Ми вдячні за ваше розуміння та терпіння. Будь ласка, стежте за оновленнями, щоб бути в курсі наших нових функцій та можливостей.</p>
  </section>
  
{{ template "footer" }}

{{ end }}
