{{ define "page1" }}

{{ template "header" }}

  <header class="jumbotron jumbotron-fluid text-center">
    <div class="container">
      <h1 class="display-4">Ласкаво просимо до нашого магазину комп'ютерних комплектуючих</h1>
      <p class="lead">Ми пропонуємо широкий вибір продуктів найвідоміших брендів</p>
      <a class="btn btn-primary btn-lg" href="/page2" role="button">Дізнатися більше</a>
    </div>
  </header>

  <section class="container">
    <h2 class="text-center">Наші продукти</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4">
          <img class="card-img-top" src="https://images.freeimages.com/fic/images/icons/1790/large_android/512/industrial_robot.png" alt="Продукт 1">
          <div class="card-body">
            <h5 class="card-title">Продукт 1</h5>
            <p class="card-text">Опис продукту 1</p>
            <a href="/page2" class="btn btn-primary">Деталі</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/191/191531.png" alt="Продукт 2">
          <div class="card-body">
            <h5 class="card-title">Продукт 2</h5>
            <p class="card-text">Опис продукту 2</p>
            <a href="/page3" class="btn btn-primary">Деталі</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <img class="card-img-top" src="https://images.freeimages.com/fic/images/icons/1790/large_android/512/industrial_robot.png" alt="Продукт 3">
          <div class="card-body">
            <h5 class="card-title">Продукт 3</h5>
            <p class="card-text">Опис продукту 3</p>
            <a href="/page3" class="btn btn-primary">Деталі</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="about" class="container">
    <h2 class="text-center">Про нас</h2>
    <p>Ми є провідним постачальником комп'ютерних комплектуючих, присвячених забезпеченню якісних і потужних комп'ютерних систем для наших клієнтів. Завдяки нашій експертизі і великому асортименту продукції, ми допомагаємо нашим клієнтам побудувати і покращити свої комп'ютери згідно з їх потребами.</p>
  </section>

  <section id="history" class="container bg-light py-5">
    <h2 class="text-center">Наша історія</h2>
    <p>Заснований в 2005 році, наш магазин комп'ютерних комплектуючих виріс з маленької команди ентузіастів до провідного постачальника в галузі. Протягом років ми набули великого досвіду в області комп'ютерної техніки та аксесуарів, розширюючи наш асортимент і збільшуючи клієнтську базу.</p>
  </section>

  <section id="team" class="container">
    <h2 class="text-center">Наша команда</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4">
          <img class="card-img-top" src="https://icons-for-free.com/download-icon-people+person+profile+user+icon-1320186207447274965_512.png" alt="Людина">
          <div class="card-body">
            <h5 class="card-title">Ім'я</h5>
            <p class="card-text">Посада</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <img class="card-img-top" src="https://icons-for-free.com/download-icon-people+person+profile+user+icon-1320186207447274965_512.png" alt="Людина">
          <div class="card-body">
            <h5 class="card-title">Ім'я</h5>
            <p class="card-text">Посада</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <img class="card-img-top" src="https://icons-for-free.com/download-icon-people+person+profile+user+icon-1320186207447274965_512.png" alt="Людина">
          <div class="card-body">
            <h5 class="card-title">Ім'я</h5>
            <p class="card-text">Посада</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="container bg-light py-5">
    <h2 class="text-center">Контакти</h2>
    <div class="row">
        <div class="col-md-4">
          <div class="card mb-4">
            <img class="card-img-top" src="https://t4.ftcdn.net/jpg/01/35/01/83/360_F_135018394_62OEHCo75FUa8kmfmCB6kZL6fgpr4Qx0.jpg" alt="Рівне">
            <div class="card-body">
              <h5 class="card-title">Рівне</h5>
              <p class="card-text">*адреса, номер телефону*</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <img class="card-img-top" src="https://t4.ftcdn.net/jpg/01/35/01/83/360_F_135018394_62OEHCo75FUa8kmfmCB6kZL6fgpr4Qx0.jpg" alt="Львів">
            <div class="card-body">
              <h5 class="card-title">Львів</h5>
              <p class="card-text">*адреса, номер телефону*</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <img class="card-img-top" src="https://t4.ftcdn.net/jpg/01/35/01/83/360_F_135018394_62OEHCo75FUa8kmfmCB6kZL6fgpr4Qx0.jpg" alt="Київ">
            <div class="card-body">
              <h5 class="card-title">Київ</h5>
              <p class="card-text">*адреса, номер телефону*</p>
            </div>
          </div>
        </div>
      </div>
  </section>
  
{{ template "footer" }}

{{ end }}
